{% extends 'admin-page/base.html' %}
{% block content %}
<div class="card">
    <div class="card-body" style="max-width: 100%; overflow-x: scroll;">
        <table class="table table-striped table-hover table-sm">
            <thead class="table-secondary">
                <tr>
                    <th>No.</th>
                    <th>Date</th>
                    <th>User</th>
                    <th>Order ID</th>
                    <th>Return Amount</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for data in datas %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{data.return_Date}}</td>
                    <td>{{data.user.username}}</td>
                    <td>{{data.returned_Order.order_id}}</td>
                    <td>{{data.return_Amount}}</td>
                    <td><a href="{% url 'returnProductRecieved' id=data.id %}" class="btn btn-secondary">Return Recieved</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% if messages %}
{% for message in messages %}
<div class="position-fixed bottom-0 end-0 mb-4 my-3 w-100" id="alertMessages"
    style="max-width: 30rem;animation: slideTop .5s ease forwards;">
    <div class="alert alert-dismissible fade show text-center {% if message.tags == 'error' %}alert-danger{% else %}alert-success{% endif %}"
        role="alert">
        <h6>{{message}}</h6>
    </div>
</div>

<script>
    setTimeout(function () {
        var alertBox = document.getElementById("alertMessages");
        alertBox.style.display = "none";
    }, 5000);
</script>
{% endfor %}
{% endif %}

<script>
    var returnRequest = document.getElementById('returnRequest');
    returnRequest.classList.add("active");
</script>
{% endblock %}