{% extends 'user-home/base.html' %}
{% block title %}DROPCOM play and earn{% endblock %}
{% block content %}
<style>
    section {
        min-height: 100vh !important;
        font-family: sans-serif;
    }

    #alertMessages {
        position: fixed;
        /** will always stay in place even when the page scrolls */

        width: 100%;
        /** give it a width so the element doesn't take 100% of the viewport (you may alternatively "col-*" classes to it to maintain responsiveness) */

        right: 0;
        left: 0;
        margin: auto;
        /** 
  * the above 3 rules center the element horizontally.
  * the "right" and "left" rules must have a value of "0" or else the element cannot be centered using the "margin" rule;
  */

        top: 50%;
        transform: translate3d(0, -50%, 0);
        /** the above 2 rules center the elemnt vertically */

        text-align: center;
        z-index: 9999;
    }
</style>
<section>
    <div class="container px-lg-5 mt-3">
        <div class="row">
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-4 col-6">
                        <div class="card">
                            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                                <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/111.webp"
                                    class="img-fluid" />
                                <a href="{% url 'lottodrop' %}">
                                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                                </a>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title text-center">Lottodrop</h5>
                                <a href="{% url 'lottodrop' %}" class="btn btn-primary btn-sm btn-block">play</a>
                            </div>
                        </div>
                    </div>
                    <div class="small mt-4 text-muted">More games coming soon...</div>
                </div>
            </div>
            {% if datas %}
            <div class="col-lg-6">
                <div class="card" style="max-width: 100%; overflow-x: scroll;">
                    <div class="card-header mb-0">
                        <h6>DASHBOARD</h6>
                    </div>
                    <div class="card-body mt-0">
                        <table class="table table-striped table-hover mt-0 table-sm">
                            <thead>
                                <tr>
                                    <th>date</th>
                                    <th>selected numbers</th>
                                    <th>Price numbers</th>
                                    <th>result</th>
                                </tr>
                            </thead>
                            {% for data in datas %}
                            <tr>
                                <td>{{data.created_at}}</td>
                                <td>{{data.number}}</td>
                                <td class="text-danger">{{data.Result|yesno:"failed,pending"}}</td>
                                <td>{{data.result_number}}</td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
        {% if messages %}
        {% for message in messages %}
        <div class="position-fixed w-100" id="alertMessages" style="max-width: 30rem;animation: slideTop .5s ease forwards;">
            <div class="alert alert-danger alert-dismissible fade show text-center" role="alert">
                <h6>{{message}}</h6>
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </div>
</section>
<script>
    setTimeout(function () {
        var alertBox = document.getElementById("alertMessages");
        alertBox.style.display = "none";
    }, 3000);
</script>
{% endblock %}